.appAlign{
    text-align: center;
}

.img-button{
    width: 20px;
    padding: 3px;
}

.button{
    margin: 8px;
    
}
.button:hover{
    background-color: gray  ;
}

.player{
    display:flex;
    flex-direction: column;
    width: 120px;
    height: 100px;
    margin: 20px;
    padding: 8px;
    border: 1px;
    border-color: black;
    border-style: solid;
}

.players{
    display: flex;
    flex-direction: row;
    justify-content: center;
}